span {
  padding-top: 4px;
}

.word-box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 20px;
  background-color: #FFFFFF;
}

.word-en {
  text-align: left;
  width:  205px;
}

.word-ru {
  width: 165px;
}

.edit-link {
  text-decoration: none;
  color: #364963;
}

.menu {
  color: #364963;
}